{% extends 'theme.html' %}
{% block title %}Superhero List{% endblock title %}
{% block content %}
<a href="{% url 'superhero_add' %}" class="btn btn-secondary mb-3">Add New Superhero</a>
<ul class="list-group">
    {% for superhero in superheroes %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'superhero_detail' superhero.pk %}">{{ superhero.name }}</a>
            <div>
                <a href="{% url 'author_detail' superhero.author.pk %}">{{ superhero.author }}</a>
                {% if superhero.author == request.user %}
                    <a href="{% url 'superhero_edit' superhero.pk %}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{% url 'superhero_delete' superhero.pk %}" class="btn btn-sm btn-danger">Delete</a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}