{% extends 'theme.html' %}

{% block content %}
<div class="container-fluid m-5">

    <h1 class="text-center">List of Authors</h1>

    <div class="row">
        {% for author in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/author/{{ author.pk }}">{{ author.name }}</a>
                    </h4>
                    <p class="card-text">{{ author.bio }}</p>
                    {% if user.is_authenticated and user == author.user or user.is_superuser %}
                    <p>
                        <a href="/author/{{ author.pk }}/" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/author/{{ author.pk }}/delete" class="btn btn-danger btn-sm">Delete</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock content %}
